.CoveoHelloWorld {
   
 background-image: url(https://img.pokemondb.net/design/header2018z-md.png);
 background-position: center 0;
 background-repeat: no-repeat;
display: block;
    height: 130px;
    text-indent: -9999px
  
}
